# Node
node_modules
.env

# Frontend build
dist

# Logs
npm-debug.log*

# macOS files
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Vite cache
.vite
